body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

form,
div {
    margin: 0;
}

a {
    color: #00B7FF;
}

.row {
    display: flex;
    justify-content: space-between;
}


/* Set the size of the div element that contains the map */

#map {
    height: 100%;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}


/* chatbox-container {
    height: 80%;
    /* The height is 400 pixels */


/* width: 30%; */


/* The width is the width of the web page */


/* border: 2px dotted #00B7FF; */


/* } */